#Python Course I - class demo and homework assignments
- Google Classroom - Module 1 - 3

### Demo Topics
- input
- sting.upper, lower
- import - adding python modules/functions to memory
- date / time, formatting date ie: datetime.strptime
- random
- range
- for loop - loops for a fixed number of time
- if - expression to evaluate left and right variable and return true/false
- logical expressions, logical operatprs
- intro to array
- intro to list, set, tuple, map
    - set() - function is used to cast a list to set
    - list() - is used to cast a set to a list
    - tuple() - cas to list to tuple
    - dict() - cast a list to dictionary
- functions
- file input/output
- OOP classes
- python main startup module __name__ == "__main__"
- Other

#github course demos and examples

- https://github.com/deanliit/begin-adv-python-course-I

### HomeWork/Assignments

- Week 1-3

- Reading:

https://www.w3schools.com/python/python_intro.asp
- Variables, Data Type, Casting, Number, Operations

### Course book practices exercises  
- page 43, Exercise 1
- page 47, exercise 8
- page 48, exercise 10
- page 49, exercise 12

## Course I & II Module overview

<pre>
# Module 1
Python fundamentals
Data type
Variables
Input
for, while loop
Other

# Module 2
Array index
Slicers, list comprehension  
Functions
File input
Other

# Module 3
Data structures
Array, set, list, tuple, map
Classes
Lamda
Other

#optional - Module 4
Intro to data analyst using python
Pandas, numpy
SQL
Other

</pre>

### mathimatical expression or mathamital operations ()+,-%*^
<pre>
# ie math formulas - operations ()+,-%*^
#
#a = b + c
#a = b * c
#a = (b/2) + (c*3) .... etc..
#
#total = item1 + item2 + item3 + item4
</pre>

## Logical expression
<pre>
Expression to evaluate left and righ variable and return true or false
(), ==, <=, >=,
true/false = a == b
true/false = (a < b) or (a == b)
true/false = a and b or c > d or e = g
true/false = ((a and b) or (c > d) or (e == g))
other

</pre>

## Variable assignemt

a = fixed variable assignment - known value

a = dynamic variable assignmemt - ie: input
  - retrieve data from a file or database

python dynamicaly assigns a data type
- str, int, float, bool, other

cast from 1 data type to another

** more casting or converting from 1 datatype to another


some programming languages the variable data type is fixed or static
c/java, other

str a; //can only assign str to this variable

float b; //can only assign float to this variable

bool c;

int d;

** fast but doe resre a pre-compile step before running application

In [ ]:
#software development best practices - python, other

"""
#Refactoring: write code and mondify/enhance code ie: 1.0.0..1
#--------------------------------------
# systems/ program requirments
# ie: build the folloginw python program
# - researching python libraries, examples
# - demo code
# - more programs you write the more systems you can build
#--------------------------------------

-----------------------------------
Example Requirements
-----------------------------------

compute total of 3 items
prompt/input for name and price

example output:
name in upper case, current date and price

ITEM ONE    9/5/2024   100.5
ITEM TwO    9/5/2024    63.25
ITEM THREE  9/5/2024    12.3

total                 176.15

* round total
* item in upper case

--------------------------------------------
Development Best practice steps for many programs
--------------------------------------------
#1. import libraries
#2. get user input, files, database, web, other
#3. string data type
#4. cast string to other data type int, float, bool, other
#5. retrive system data and time
#6. retrieve day, month, year
#7. calculating total for 3 input items
#8. calculation or numerical expression
#9. rounding
#10. cast data from 1 type to another
#11. loop through a list of items
#12. varify if data is true/false ie: making a decision true/false
#13. output data - screen, file, database, web, other
# other

"""

In [ ]:
#https://www.w3schools.com/python/python_arrays.asp

#introduction to arrays also: (list, set, map/dictionary, tuple)

#https://www.w3schools.com/python/python_lists.asp

In [1]:
#dict-demo-1.py

#dictionary/map = key/value pairs

#key/value can be number of string

#
# un structured - nosql - document - key/value

# values can be arrays ie: key;[1,2,3]

# nested key/values
# ie: key1:1, key2:[], key3:{keya:10}, key4:()
#

"""
1:10,
2:"ten",
2:15,
3:"fifteen",
5:10
"""
#dict1 = {}
dict1 = {1:10,2:"ten",2:15,3:"fifteen",5:10}

#add item to dictionary
dict1[25] = "twenty five"
dict1["item1"] = 25

#items = dict()
items = {"one":"item one", "two":"item two", "three":"item three", 1:"item one"}

#add item to dictionary
items["item four"] = 4
items[2] = 20

print(dict1)
print(items)

{1: 10, 2: 15, 3: 'fifteen', 5: 10, 25: 'twenty five', 'item1': 25}
{'one': 'item one', 'two': 'item two', 'three': 'item three', 1: 'item one', 'item four': 4, 2: 20}

In [ ]:
#dict-demo-2.py

#dict1 = {}
dict1 = {1:10,2:"ten",2:15,3:"fifteen",5:10}

#add item to dictionary
dict1[25] = "twenty five"
dict1["item1"] = 25

#items = dict()
items = {"one":"item one", "two":"item two", "three":"item three", 1:"item one"}

#add item to dictionary
items["item four"] = 4
items[2] = 20

print()

print("dict[1] ", dict1[1])
print("dict[ten] ", dict1.get("ten"))
print("items['one'] ", items["one"])

#error - key does not exist
#print("items[key1] ", items["key1"])
#print("dict[2] ", dict[2])

#
#check if key exist in tuple
#

print()

if "one" in items:
    print("one/key exist in dict1")
else:
    print("one/key is not in dict1")

dict[1]  10
dict[ten]  None
items['one']  item one
items[key1]

one/key exist in tiple

In [2]:
#dict-demo-3.py

#dict1 = {}
dict1 = {1:10,2:"ten",2:15,3:"fifteen",5:10}

#add item to dictionary
dict1[25] = "twenty five"
dict1["item1"] = 25

#items = dict()
items = {"one":"item one", "two":"item two", "three":"item three", 1:"item one"}

#add item to dictionary
items["item four"] = 4
items[2] = 20

print()

i = 0

for key in dict1:
  print(f"i> {i} - {key} - {dict1[key]}")
  i +=1

print()

i = 0

#while i < len(items):
#  print("i > ",i,items[i])
#  i += 1

i> 0 - 1 - 10
i> 1 - 2 - 15
i> 2 - 3 - fifteen
i> 3 - 5 - 10
i> 4 - 25 - twenty five
i> 5 - item1 - 25

In [3]:
#dict-demo-4.py

invt_items = {"items":["one","two", "three"]}
invt_items["items"].append("five")

invt_prices = {"prices":[1,2,3]}
invt_prices["prices"].append(4)

inv_dict = {"items":[], "prices":[]}

#inv_dict = {} #dict()
inv_dict = {"one":1,"two":2, "three":3}
inv_dict["four"] = 4

list_keys = inv_dict.keys()
list_values = inv_dict.values()

print(list_keys)
print(list_values)

i = 0

for key in dict1:
  print(f"i> {i} - {key} - {dict1[key]}")
  i +=1

for key in inv_dict.keys():
  print(key)

for item in inv_dict.items():
  print(item)

dict_keys(['one', 'two', 'three', 'four'])
dict_values([1, 2, 3, 4])

In [ ]:
"""

Course book practices exercises
- page 43, Exercise 1
- page 47, exercise 8
- page 48, exercise 10
- page 49, exercise 12

"""

'\n\nCourse book practices exercises\n- page 43, Exercise 1\n- page 47, exercise 8\n- page 48, exercise 10\n- page 49, exercise 12\n\n'

In [ ]:
"""

==========================================================
implement the following inventory example using array/list
==========================================================

compute total of 5 items
prompt/input for name and price

example output:
name in upper case, current date and price

ITEM ONE    9/5/2024   100.5
ITEM TwO    9/5/2024    63.25
ITEM THREE  9/5/2024    12.3
ITEM FOUR   9/5/2024    132.13
ITEM FIVE   9/5/2024    102.23

total                  476.15

* round total
* item in upper case

"""

In [ ]:
#dict-demo-invoice-app-1.py

import datetime
import random

items = {} #dict()
date1 = datetime.datetime.now()
total = 0.0
TOTAL_ITEMS = 2

today1 = f"{date1.month}/{date1.day}/{date1.year}"

for i in range(TOTAL_ITEMS):
  price = random.randint(1,200)
  item = input(f"item-{(i+1)}: ")
  total = total + price
  items[item.upper()] = price

i = 0

for key in items:
  print(f"{key} - {today1} - {items[key]}")
  #i += 1

print("")
print("total: ", round(total,2))

item-1: item one
item-2: item two
ITEM ONE - 9/19/2024 - 141
ITEM TWO - 9/19/2024 - 160

total:  301.0